.container input {
	width:100%;
}
.container {
    margin-bottom:40px;
}
.submit {
	margin: 5px 15px 5px 0;
}
h2 {
	text-align:center;
}
h3 {
	text-align:center;
}
h4 {
	font-weight:bold;
}

.scenarioDetails {
	border: #000 solid 2px;
	margin:10px 0;
}

.patientDataDetails {
	border: #000 solid 2px;
	margin:10px 0;
}

.lifeThreatDetails {
	border: #000 solid 2px;
	margin:10px 0 20px;;
}
.border {
	border-bottom:#000 solid 2px;
}

.vital_signs {
	border:#000 solid 2px;
	border-bottom:none;
}
.vital_signs p {
	text-align:center;
}

.rightBox {
	border-left:#000 solid 2px;
	padding:5px;
}
.border_top {
	border-top: #000 solid 2px;
}

.details p {
	text-align:center;
}
.details ul {
	list-style:none;
}
.details li {
	margin:10px 0;
}

@media (max-width: 910px) {
 .rightBox {
	border-left:none;
	padding:5px;
 }
}

.search {
    padding:20px;
    margin-bottom:20px;
}

@media print {
    h2 {
        display:none;
    }
    .col-md-6 {
        background-color:red;
        width:50%;
    }
    .rightBox {
	border-left:#000 solid 2px;
    }

    html, body {
    /*changing width to 100% causes huge overflow and wrap*/
    height:100%; 
    background: #FFF; 
    font-size: 9.5pt;
  }

  .template { width: auto; left:0; top:0; }

      h1, h2, h3, h4, h5 {
      font-weight: bold;
      page-break-after: avoid;
      page-break-inside:avoid;
    }

    h1+p, h2+p, h3+p {
      page-break-before: avoid;
    }

    table, figure {
      page-break-inside: avoid;
    }
}